body{
	height: 100vh;
	background-image: url(components/weather/Cloudy.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	box-sizing: border-box;
	padding: 10px 60px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-family: 'Quicksand', monospace;
}

.left-side{
	text-align: right;
	flex-shrink: 1;
	width: 315px;
	margin-top: 10%;
}

.right-side{
	text-align: left;
	flex-shrink: 1;
	width: 315px;
	margin-top: 10%;
}

.big{
	font-size: 7em;
	color: white;
	text-shadow: 1px 1px 4px #333;
	margin: 0;
	font-weight: 400;
	cursor: default;
}

.and{
	font-size: 7em;
	color: white;
	text-shadow: 1px 1px 4px #333;
	margin: 0;
	font-weight: 400;
	margin-top: 10%;
	cursor: default;
}

.small{
	color: white;
	text-shadow: 1px 1px 4px #333;
	margin: 0;
	font-weight: 700;
	transition: 0.2s all ease-in-out;
}

.animate{
	transition: 0.2s all ease-out;
}

.animate.ng-hide{
	opacity: 0;
	transform: translateY(-40px);
}





