<h1 class="big" ng-mouseenter="hoverW = true" ng-mouseleave="hoverW = false">{{this.data.currently.temperature | number:0}}&deg;</h1>

<h2 class="small animate" ng-show="hoverW === true">
	{{this.data.currently.summary}}<br>
	Feels like: {{this.data.currently.apparentTemperature | number:0}}&deg;<br>
	Windspeed: {{this.data.currently.windSpeed}} mph<br>
	Windbearing: {{this.data.currently.windBearing}}&deg; / {{this.data.currently.windBearing | windDirection}}<br>
	Humidity: {{(this.data.currently.humidity)*100}}%<br>
	Pressure: {{this.data.currently.pressure | number:0}} mb
</h2>